.mainHeading {
    padding: 1px;
    margin-right: auto; /* the margin property allowed me to stretch the photo across the entire tip of the page */
    margin-right: auto;
    background-color: palevioletred;
    text-align: center;
    text-shadow: 1.75px 1.75px black;
    color: white;
    font-size: 34px;
   
    
    


}
.img {
display: block;
align-items: center;
width: 1418px;
height: 300px;
}
/* This should attach itself to all elements with an h1 tag */
h2 {
margin-top: 1px;
margin-bottom: 0px;
padding: 10px;
border: 0px;
display: block;
background-color: lightpink;
color: white;
text-align: center;
text-shadow: 1.5px 1.5px black;
font-size: 30px;
border-radius: 35%;
box-shadow: 6px 6px 6px palevioletred;

    
}
/* This should apply to all elements with a section tag */
.section {
background-color: white;
padding: 2px;
border: 1px;


}

span {

    display: block;
    margin-top: auto;
    margin-bottom: 25px;
    border: 10px;
    padding: 5px;
    background-color: palevioletred;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 18px;
    text-align: justify;
    box-shadow: 10px 10px 6px lightpink;
  

}

.div {
    background-color: palevioletred;
}

h3 {
margin-top: 1px;
margin-bottom: 35px;
padding: 10px;
border: 0px;
display: block;
background-color: lightpink;
color: white;
text-align: center;
text-shadow: 1.5px 1.5px black;
font-size: 30px;
}

ul {
    text-align: center;
    list-style-position: inside;
}